.container {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.block-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 985px;
    align-items: flex-end
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 10px;
    font-size: 100px;
}

.one, .two {
    width: 300px;
}

.three, .four {
    width: 500px;
}

.one {
    background: rebeccapurple;
}

.two {
    background: palevioletred;
    align-self: flex-start;
}

.three {
    background: blueviolet;
}

.four {
    background: plum;
}

<<<<<<< HEAD
/*p {
    flex-direction: column;
    align-items: center;
=======
/* p {
    margin: auto;
>>>>>>> a980f6bb278c6abf87a1966827d8c329993480ec
}*/