.container {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.block-1 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border: 1px solid black;
    height: 645px;
    align-items: flex-start;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    margin: 10px;
    font-size: 100px;
}

.three, .four {
    width: 500px;
}

.one {
    background: rebeccapurple;
    width: 340px;
}

.two {
    background: palevioletred;
    width: 300px;
}

.three {
    background: blueviolet;
    width: 400px;
}

.four {
    background: plum;
    width: 600px;
}

<<<<<<< HEAD
/*p {
    flex-direction: column;
    align-items: center;
=======
/* p {
    margin: auto;
>>>>>>> a980f6bb278c6abf87a1966827d8c329993480ec
}*/